@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1.1rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* TOPO */
header {
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(to right, #0D1518, #131428);
}

div.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* MENU */
div.nav-list > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    gap: 30px;
}

div.nav-list > ul > li > a {
    text-decoration: none;
}

div.nav-list a:hover {
    text-decoration: underline;
}

/* ICONES LOGIN - BUSCAR - FAVORITOS - CARRINHO */
div.nav-bar > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

/* IMG SAUVAGE */
div.principal img {
    max-width: 100%;
    height: auto;
}

/* CARDS OPÇOES - FEMININO E MASCULINO  */
 section.flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 2fr));
    margin: 0 auto;
    max-width: 1200px;
 }
    
section .card img {
    margin: 0 auto;
    margin-bottom: 17px;
    display: block;
    max-width: 100%;
    height: auto;
}

section .card img:hover {
    transform: translateY(-7px);
    transition: .5s;
    transform-origin: center;
}

/* H1 DENTRO DAS IMAGENS */
section .card h1 {
    z-index: 1;
    font-size: 2.3rem;
}


/* BANNER VICTORIA SECRET */
section.banner {
    margin: auto;
    max-width: 1185px;
}

section.banner h1, p {
    color: black;
    text-align: center;
    font-family: "Edu AU VIC WA NT Guides", cursive;
}

section.banner > img {
    max-width: 100%;
    margin-bottom: 30px;
}

/* OPÇOES DE PRODUTOS */
section.produtos {
    margin: 0 auto;
    max-width: 1310px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 5fr));
    gap: 20px;
    padding: 40px;
    background-color: #fff;
}

.card-opcoes {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.card-opcoes img {
    width: 100%;
    height: auto;
}

.card-opcoes h2, p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
}

.card-opcoes p {
    color: black;
    font-weight: bolder;
    font-size: 18px;
    margin: 10px 0;
}

.card-opcoes button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.card-opcoes button:hover {
    background-color: #d4af37; /* Dourado */
}
