@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #FFA10E;
    --cor2: #FFE3B7;
    --cor3: #fff5e6;
    --cor4: #131428;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

/* TOPO */
header > div.banner-topo {
    height: 69px;
    background-image: url(../estilos/banner-topo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.container-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-top: 10px;
}

div.logo > h1 {
    font-family: "Poppins", sans-serif;
    margin-right: 5px;
}

menu {
    font-size: 16px;
}

menu > ul > li {
    display: inline;
}

menu > ul > li > a {
    text-decoration: none;
}

menu > ul > li > a:hover {
    color: blue;
}

section {
    background-color: antiquewhite;
}